body {
    background-color: #828075d9 !important;
}

#form .form-input{
    height: 45px;
}


.nav-image{
    width: 48px;
}
.list-icon-image{
    width: 64px;
}

.main{
    min-width: 450px;
    min-height: 300px;
    max-height: 300px;
}

.user-menu.border{
    border-width: 2px 2px !important;
    border-radius: 0 3px 3px 0;
}

.navbrand{
    width: calc(100% - 257px);
}

.table-hover tbody tr.list-empty:hover{
    background-color: transparent;
}

.sort{
    font-size: 18px !important;
    cursor: default;
}
.table-hover thead th:not(:first-child){
    cursor: pointer;
}