<!doctype html>
<html lang="en" ng-app="findout">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/index.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <title>Findout</title>
  </head>
  <body ng-controller="findoutController" class="bg-light">
    <nav class="d-flex navbar justify-content-end navbar-expand-lg sticky-top navbar-light bg-dark p-0 border border-top-0 border-left-0 border-right-0">
      <div class="navbrand pl-3 pt-1 pb-1">
          <a class="navbar-brand text-warning" href="#">Findout</a> 
      </div>
       
      <div class="d-flex justify-content-end">
          <div class="user-menu mb-0 pl-2 border border-top-0 border-bottom-0 border-left-0 border-warning">
            <div class="float-left pr-2">
              <p class="m-0 text-right text-white">Olá, {{user.name}}</p>
              <div class="p-0 float-right">
                <a class="d-inline text-warning nav-link font-weight-light m-0 p-0" href="#" data-toggle="modal" data-target="#logout">sair</a>
              </div>
            </div>
            <img ng-src="img/userdefault.png" class="nav-image float-right">
            <!--<img ng-style="{'background-image': 'url(' + user.image + ')'}" class="nav-image float-right">-->
          </div>
          <a class="align-self-center text-secondary nav-link m-0 material-icons" href="#">settings</a>
      </div>
    </nav>

    <div class="container-fluid bg-light pt-2">          
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 pl-0 pr-0">
        <h4 class="mr-3">Anúncios</h4> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
          <form class="form-inline my-2 my-lg-0">
            <div class="input-group-prepend">
              <span class="input-group-text material-icons rounded-0">search</span>
            </div>
            <input ng-model="search" ng-keyup="find()" class="form-control rounded-0" type="text" placeholder="Buscar" aria-label="Buscar">
          </form>
        </div>
        
      </nav>
      <div class="d-flex mb-3">
        <div class="col pt-2 border border-dark border-top-0 border-left-0 border-bottom-0">
          <span>CADASTRADOS</span>
          <p class="text-secondary">{{announcements.length}}</p>
        </div>
        <div class="col pt-2 border border-dark border-top-0 border-left-0 border-bottom-0">
          <span>ATIVOS</span>
          <p class="text-info">{{active}}</p>
        </div>
        <div class="col pt-2 border border-dark border-top-0 border-left-0 border-bottom-0">
          <span>VENDIDOS</span>
          <p class="text-success">{{sold}}</p>
        </div>
        <div class="col pt-2">
          <span>INATIVOS</span>
          <p class="text-danger">{{inactive}}</p>
        </div>
      </div>
      
      <div class="table-responsive-xl">
        <table class="table table-hover border border-dark">
          <thead class="thead-dark">
            <tr>
              <th><i class="material-icons sort ml-2 align-middle">sort</i></th>
              <th style="min-width: 200px" ng-click="sort('brand')">FABRICANTE</th>
              <th ng-click="sort('model')">MODELO</th>
              <th ng-click="sort('color')">COR</th>
              <th ng-click="sort('year')">ANO</th>
              <th ng-click="sort('motor')">MOTOR</th>
              <th ng-click="sort('exchange')">CÂMBIO</th>
              <th style="min-width: 130px" ng-click="sort('price')">PREÇO</th>
              <th ng-click="sort('status')">STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="announcement in announcements | filter:search | orderBy:sortKey:reverse | itemsPerPage:6" >
              <td>&nbsp;</td>
              <td>
                <img class="mr-3 list-icon-image m-0" ng-src="img/car-icon.png">
                <p class="d-inline">{{announcement.brand}}</p> 
              </td>
              <td><p class="d-inline text-center">{{announcement.model}}</p></td>
              <td><p>{{announcement.color}}</p></td>
              <td><p>{{announcement.year}}</p></td>
              <td><p>{{announcement.motor}}</p></td>
              <td><p>{{announcement.exchange}}</p></td>
              <td>
                <h6>R$ {{currencyMask(announcement.price)}}</h6> 
              </td>
              <td>
                <h6 ng-class="{'text-info' : announcement.status == 'ATIVO', 'text-danger' : announcement.status == 'INATIVO', 'text-success' : announcement.status == 'VENDIDO'}">{{announcement.status}}</h6> 
              </td>
            </tr>
            <tr ng-show="empty" class="list-empty">
              <td colspan="9" class="text-center col-lg-12 mt-5 border-0 text-secondary">
                <span>Nenhum anúncio encontrado :(</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
        <dir-pagination-controls class="text-center text-warning" max-size="5" boundary-links="true"></dir-pagination-controls>
        
        <!-- Modal Sair-->
        <div id="logout" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-dark">Sair</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body text-center">
                <span>Tem certeza que deseja sair?</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="logout()">Sim</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
              </div>
            </div>
          </div>
        </div>
        
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    
    
    <script src="js/dirPagination.js"></script>

    <script src="js/main-app.js"></script>

  </body>
</html>